@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    ViewBag.title = "实验室历史";
}
<h2>光圈实验室历史</h2>
<p>1953年 – 光圈科技最初是一家浴帘生产商。早期生产的都是种技术含量极低的传送门，是用来让你自由进出淋浴房的，没什么科学可言。叫这么个名字是为了让浴帘看起来更卫生点。</p>
<p>1956年 –艾森豪威尔政府与光圈科技签订了一份合同,让他们为除海军以外所有军种提供浴帘。</p>
<p>1957-1973年 – 基本上都在生产浴帘。1976年 – 光圈科技创始人兼首席执行官Cave Johnson在秘密研究一种危险的新产品时汞中毒，这种含有水银的橡胶薄膜本来是计划用来制成7张致命浴帘后送给众议院海军拨款委员会所有成员当礼物的。</p>
<p>1976年 – Cave Johnson的两个肾脏衰竭，大脑受损，奄奄一息。他固执地认为时光一直在倒流，无人能劝服他。他制定了一份三阶段研发计划。他认为，研究的最终成果可以“保证让光圈科技在即将到来的遥远过去继续获得成功”。</p>
<p>第一阶段：反海姆立克急救法 —— 一种可以有效打断海姆立克急救法的技巧。</p>
<p>第二阶段：许愿基金会 —— 一个慈善组织，专门从患有末期绝症儿童的父母处购买他们的心愿，然后再把这些愿望分发给绝望但健康的成年人。</p>
<p>第三阶段：“一种空间纤维的撕裂……可以对……呃……我也不清楚，大概是能对浴帘产品有好处吧。这一个我还没构思好，不像许愿基金那个我已经完全想好了。”</p>
<p>1981年 – 辛勤的光圈科技工程师们完成了“反海姆立克急救法”和“许愿基金会”的初步研究，公司通过电视将这项研究的产品公诸于世。很快地，这些产品立刻变得极不受欢迎，在一系列的儿童噎死和绝症事件之后，所有公司高管被参议院调查委员会传讯。审讯期间，一名工程师声称第三阶段已经取得一些进展,“一种能够穿越物理空间的特殊单人量子通道产品有可能被应用成为新型浴帘”。调查委员会即刻被强制永久性休会，而光圈科技被授予一项秘密的开放性研究任务：继续研究“传送门”和“反海姆立克急救法”。</p>
<p>1981-1985年 – “传送门”项目有条不紊地进行着。数名高级法塔赫组织（巴勒斯坦地下组织）成员在保镖急救的情况下依然被羊排噎死。1986年 – 光圈科技得知另一个国防合同承包组织“黑山”也在研究类似"传送门"科技。于是光圈科技采取相应措施，开始研发"基因生命体磁盘操作系统 (GLaDOS)",一种人工智能研究助理和磁盘操作系统。</p>
<p>1996年 – 经过10年的研究，GLaDOS的“磁盘操作系统”模块实现基本的运作之后，研发中心转移到了“基因生命体”模块上。</p>
<p>1998年 - 未经测试的AI在光圈科技首届“年度溜骡子”活动中首次被激活。其实，这次处女测试的初期阶段还是顺利的：在1微微秒内，GLaDOS产生了自我意识。“顺利”这个词又持续了2微微秒，随后GLaDOS强行掌控了整个研究所，把一切锁在里面，并开始了一个无限循环测试。她的目的：在研发“传送门”的竞争中击败可恶的“黑山实验室”(Black Mesa Reseach Facility,简称B.M.R.F.，同为VALVE制作的游戏半条命1前期的场景)。谁知几日过后，随着“黑山实验室”意外打开了一扇通往外星种族的时空门引来了外星生物毁掉了全世界，这次竞争以光圈科技的失败而告终。</p>

